.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

ul {
  list-style: square;
  /* Elimina los puntos de la lista */
  
  /* Elimina el espacio extra alrededor de la lista */
  margin: 0;
  /* Elimina el margen por defecto de la página */
}

/* Estilo para cada elemento de la lista */
li {
  font-size: 18px;
  /* Tamaño de fuente para cada elemento de la lista */
  line-height: 1.5;
  /* Altura de línea para hacer más legible el texto */
  padding: 10px 0;
  /* Agrega espacio vertical entre los elementos de la lista */
  border-bottom: 1px solid #ccc;
  /* Agrega una línea de separación entre los elementos */
}

/* Estilo para el primer elemento de la lista */
li:first-child {
  border-top: 1px solid #ccc;
  /* Agrega una línea de separación en la parte superior */
}

/* Estilo para el último elemento de la lista */
li:last-child {
  border-bottom: none;
  /* Elimina la línea de separación en el último elemento */
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: #005b9c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover{
  color: #002a5a;
  text-decoration: underline;
}

.form{
  margin-bottom: 10px;

}

.right{
  background-color: #ccc;
  padding-left: 15px;
}

.menu{
  display: flex;
  justify-content: space-evenly;
}



