{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir apps</title>
    <link rel="stylesheet" href="{% static 'informes/crear.css' %}?version=1">
</head>

<body>
    <h1>Añadir apps</h1>
    <br>
    <a href="/informes/prestamos">Volver al menu</a>
    <br>
    <br>
    <div class="form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formdiv">
                <label for="prestamo">Prestamo</label>
                <br>
                {{app_form.prestamo}}
            </div>
            <div class="formdiv">
                <label for="programa">Programa instalado</label>
                <br>
                {{app_form.programa}}
            </div>
            <div class="formdiv">
                <label for="detalles">Detalles</label>
                <br>
                {{app_form.detalles}}
            </div>
            <div class="formdiv">
                <label for="fecha">Fecha</label>
                <br>
                {{app_form.fecha}}
            </div>   
                <button type="submit" class="boton">Guardar</button>
          </form>
    </div>
</body>

</html>