{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos</title>
    <link rel="stylesheet" href="{% static 'informes/prestamos.css' %}?version=1">

<body>
    <h1>Centro de consultas</h1>
    <br>
    <div class="menu">
    <a href="/informes">Volver al inicio</a>
    <a href="/informes/prestamos/crear">Crear un prestamo</a>
    </div>
    <br>
    <br>
    
    <div class="container">
        <div class="left">
            <h2>Últimas 5 entradas</h2>
            {% if lista %}
            <ul>
                {% for prestamo in lista %}
                <li><a href="/informes/prestamos/{{ prestamo.id }}/">{{ prestamo.empleado.Nombre }} - {{ prestamo.Dispositivo }} - {{ prestamo.Marca }}</a></li>
                <br>
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay nada prestado</p>
            {% endif %}
        </div>
        <div class="right">
            <h2>Buscar por DNI</h2>
            <form class="form" action="">
                <input type="text" name="search" placeholder="DNI del empleado" value="{{request.GET.empleado_id}}">
                <input type="submit" value="Search">
            </form>
            {% if listaF %}
            <ul>
                {% for prestamo in listaF %}
                <li><a href="/informes/prestamos/{{ prestamo.id }}/">{{ prestamo.empleado.Nombre }} - {{ prestamo.Dispositivo }} - {{ prestamo.Marca }} / {{ prestamo.FechaInicio}}</a></li>
                <br>
                {% endfor %}
            </ul>
            {% else %}
            <p>Sin resultados</p>
            {% endif %}
        </div>
    </div>
    
</body>
</html>